<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, height=device-height, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta name="theme-color" content="#222222" />
<head>
    <title>Qwikk</title>
    <link rel="icon" href="/public/img/fevicon.png" type="image/png" sizes="32x32">
    <link href="/public/assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="/public/assets/css/splash.css" rel="stylesheet" type="text/css">
    <div class="splash">
        <div class="loading-wrapper">
            <img class="splashlogo" src="/public/img/logo.svg" />
            <div id="loading-content"></div>
        </div>
    </div>
</head>
<body>
    <div class="inputPane">
        <input type="text" placeholder="Enter a long url">
        <img src="/public/img/right.svg">
    </div>
</body>
<script src="/public/assets/lib/jquery.js"></script>
<script src="/public/assets/data.js"></script>
<script src="/public/assets/script.js"></script>
</html>